body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set body height to full viewport height */
    position: relative; /* Set body position to relative */
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
    position: absolute; /* Set container position to absolute */
    top: 50%; /* Move container 50% from top */
    left: 50%; /* Move container 50% from left */
    transform: translate(-50%, -50%); /* Adjust position to center */
}

h2 {
    text-align: center;
    color: #4a2dff;
    margin-top: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}textarea {
    height: 200px; /* Set fixed height */
    /* Add border radius */
    resize: none; 
}
.sub,
.nextBtn,
.prevBtn {
    padding: 10px;
    width: 30%;
    margin-top: 20px;
    margin-right: 4%;
    background-color: #4a2dff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prevBtn {
    background-color: #ccc;
}
.sub:hover,
.nextBtn:hover,
.prevBtn:hover {
    background-color: #fff;
    color: #4a2dff;
    border: 1px solid #4a2dff;
}
.checkbox-container {
    margin-bottom: 12px;
}

.checkbox-container input {
    display: none;
}

.checkbox-container .checkmark {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-container input:checked + .checkmark {
    background-color: #4a2dff;
}

.checkbox-container .checkmark:after {
    content: "";
    display: none;
}

.checkbox-container input:checked + .checkmark:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-container label {
    display: block;
    margin: 0;
    cursor: pointer;
}
/* Media query for smaller devices */
@media (max-width: 600px) {
    .container {
        width: 80%;
    }

    button,
    .nextBtn,
    .prevBtn {
        width: fit-content;
        margin-right: 0;
    }
}
